<% if @posts.any? %>
  <% @posts.each do |post| %>
    <div class="col-md-12">
      <h3><%= post.title %></h3>
      <%= post.comment %>
      <%=button_to 'Upvote', post_votes_path(post, direction: :up)%>
      <%=button_to 'Downvote', post_votes_path(post, direction: :down)%>
      <h6><%= pluralize post.vote_count, 'vote' %> </h6>
    </div>
  <% end %>
<% else %>
  No posts yet
<% end %>